@model List<_20171C_TP.Models.Pelicula>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

        	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>CineSystem</title>
	  <link href="~/css/bootstrap.css" rel="stylesheet">
      <link href="~/css/Inicio.css" rel="stylesheet" />
	  <script src="../../js/jquery.min.js"></script>
	  <script src="../../js/bootstrap.min.js"></script>


        <!--Todo el Carrusel-->
		<link href='http://fonts.googleapis.com/css?family=Anton|Ubuntu' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="~/ryrych-rcarousel/examples/css/reset.css" />				
        <link type="text/css" rel="stylesheet" href="~/ryrych-rcarousel/examples/css/style.css" />	
        <link type="text/css" rel="stylesheet" href="~/ryrych-rcarousel/examples/css/style2.css" />			
        <link type="text/css" rel="stylesheet" href="~/ryrych-rcarousel/widget/css/rcarousel.css" />

		
		<script type="text/javascript" src="~/ryrych-rcarousel/widget/lib/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="~/ryrych-rcarousel/widget/lib/jquery.ui.core.js"></script>
		<script type="text/javascript" src="~/ryrych-rcarousel/widget/lib/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="~/ryrych-rcarousel/widget/lib/jquery.ui.rcarousel.js"></script>
		<script type="text/javascript" src="~/ryrych-rcarousel/widget/js/carrusel.js"></script>

        <!-- Pasar a archivo .js-->
		<script type="text/javascript">
		    jQuery(function ($) {
		        function generatePages() {
		            var _total, i, _link;

		            _total = $("#carousel").rcarousel("getTotalPages");

		            for (i = 0; i < _total; i++) {
		                _link = $("<a href='#'></a>");

		                $(_link)
							.bind("click", { page: i },
								function (event) {
								    $("#carousel").rcarousel("goToPage", event.data.page);
								    event.preventDefault();
								}
							)
							.addClass("bullet off")
							.appendTo("#pages");
		            }

		            // mark first page as active
		            $("a:eq(0)", "#pages")
						.removeClass("off")
						.addClass("on")
						.css("background-image", "url(../ryrych-rcarousel/examples/images/page-on.png)");

		        }

		        function pageLoaded(event, data) {
		            $("a.on", "#pages")
						.removeClass("on")
						.css("background-image", "url(../ryrych-rcarousel/examples/images/page-off.png)");

		            $("a", "#pages")
						.eq(data.page)
						.addClass("on")
						.css("background-image", "url(../ryrych-rcarousel/examples/images/page-on.png)");
		        }

		        $("#carousel").rcarousel(
					{
					    visible: 1,
					    step: 1,
					    speed: 700,
					    auto: {
					        enabled: true
					    },
					    width: 780,
					    height: 240,
					    start: generatePages,
					    pageLoaded: pageLoaded
					}
				);

		        $("#ui-carousel-next")
					.add("#ui-carousel-prev")
					.add(".bullet")
					.hover(
						function () {
						    $(this).css("opacity", 0.7);
						},
						function () {
						    $(this).css("opacity", 1.0);
						}
					);
		    });
		</script>
		
	</head>
	<body>

		
           <div>
        @{
            Html.RenderPartial("../_Navegador");
        }
    </div>    

		<div id="content">

			
			<div id="container">

				<div id="carousel">

                   @foreach (var i in Model)
                   {
					<div id="slide01" class="slide">
						<a href="~/Peliculas/Reserva/@i.IdPelicula"><img class="ImagenCarrusel" src="@i.Imagen" alt="@i.Descripcion" width="250px" height="250px"/></a>
						<div class="text">
							<h1>@i.Nombre</h1>
                            <h2>@i.Genero.Nombre</h2>
                            @if (i.Descripcion.Length<160)
                                {
							<p>@i.Descripcion</p>
                                }
                           else
                                {
							<p>@i.Descripcion.Substring(0,150) ...</p>
                                }
                            <h3><a href="~/Peliculas/Reserva/@i.IdPelicula">Ver Mas</a></h3>
						</div>
					</div>
                   }
					

									
				
				</div>
				<a href="#" id="ui-carousel-next"><span>next</span></a>
				<a href="#" id="ui-carousel-prev"><span>prev</span></a>
				<div id="pages"></div>
			</div>
		</div>


    </body>
</html>
