@model List<_20171C_TP.Models.Cartelera>
@{
    Layout = "~/Views/Administracion/_AdministracionLayout.cshtml";
    //List<System.DateTime> ListaDeFechas = ViewBag.ListaDeFechas;
   
    

}

<div class="page-header">
  <h1>Gestion de carteleras <p><small>Crea y edita las carteleras con las funciones en las que se emitiran las peliculas</small></p></h1>
</div>

<h4>@TempData["mensaje"]</h4>



<div class="form-group">
    <a href="CartelerasAgregar" class="btn btn-primary">Agregar Pelicula</a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Pelicula</th>
            <th>Sede</th>
            <th>Version</th>
            <th>Hora</th>
            <th>Sala</th>
            <th>Fecha de inicio</th>
            <th>Fecha de finalizacion</th>
            <th></th>
            <th></th>
        </thead>

        @foreach (var i in @Model)
        {
            <tr>
                <td>@i.Pelicula.Nombre</td>
                <td>@i.Sede.Nombre</td>
                <td>@i.Versione.Nombre</td>
                <td>@i.HoraInicio</td>
                <td>@i.NumeroSala</td>
                <td>@i.FechaInicio.ToShortDateString()</td>
                <td>@i.FechaFin.ToShortDateString()</td>
                <td><a href="CartelerasEditar/@i.IdCartelera" class="btn btn-warning">Editar</a></td>
                <td><a href="CartelerasBorrar/@i.IdCartelera" class="btn btn-warning">Eliminar</a></td>
            </tr>

 
        }



    </table>


</div>