@model _20171C_TP.Models.Pelicula
@{
    List<_20171C_TP.Models.Genero> ListaDeGeneros = ViewBag.ListaDeGeneros;
    List<_20171C_TP.Models.Calificacione> ListaDeCalificaciones = ViewBag.ListaDeCalificaciones;
}

@{
    Layout = "~/Views/Administracion/_AdministracionLayout.cshtml";
}

<h2>Peliculas</h2>

<body>
    <div>
        <form action="PeliculasEditar" method="post">
            <fieldset>
                <div class="col-sm-6">
                    <legend>Editar Pelicula</legend>

                    <div class="form-group">
                        <label for="name">Nombre de pelicula</label>
                        <input type="hidden" name="IdPelicula" value="@Model.IdPelicula" />
                        <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="name">Descripcion</label>
                        <textarea class="form-control" name="Descripcion" cols="50">@Model.Descripcion</textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Duracion</label>
                            <input type="text" class="form-control" name="Duracion" value="@Model.Duracion" />
                    </div>

                    <div class="form-group">
                        <label for="name">Genero</label>

                        <select name="idGenero" class="selectpicker" data-live-search="true">
                            @foreach (var i in ListaDeGeneros)
                            {
                                if (i.IdGenero == Model.IdGenero)
                                {
                                    <option value="@i.IdGenero" selected="selected">@i.Nombre</option>
                                }
                                else
                                {
                                    <option value="@i.IdGenero">@i.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Calificacion</label>
                        <select name="IdCalificacion" class="selectpicker" data-live-search="true">
                                @foreach (var i in ListaDeCalificaciones)
                                {
                                    if (i.IdCalificacion == Model.IdCalificacion)
                                    {
                                        <option value="@i.IdCalificacion" selected="selected">@i.Nombre</option>
                                    }
                                    else

                                    {
                                        <option value="@i.IdCalificacion">@i.Nombre</option>
                                    }
                                }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Modificar Pelicula" />
                    </div>
                    <div class="form-group">
                        <a href="../" class="btn btn-warning">Regresar</a>
                    </div>

                    </div>

        </fieldset>
        </form>
    
    </div>
</body>
