@model _20171C_TP.Models.Pelicula
@{
    List<System.DateTime> Fechas = ViewBag.Fechas;
    List<System.DateTime> Horarios = ViewBag.Horarios;
    List<_20171C_TP.Models.Versione> ListaDeVersiones = ViewBag.ListaDeVersiones;
    List<_20171C_TP.Models.TiposDocumento> Documentos = ViewBag.TipoDocumentos;
    int MaximoEntradas = 8;
    
}

<html>
    <head>
        <title>Pelicula @Model.Nombre</title>
            <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/_AdministracionLayout.css" rel="stylesheet" />
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/_AdministracionLayout.js"></script>
    <script src="~/js/Reserva.js"></script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    </head>

    <body>

                   <div>
        @{
            Html.RenderPartial("../_Navegador");
        }
    </div> 

        
                   <div>
        @{
            Html.RenderPartial("../_Navegador");
        }
    </div> 

<h2>Reserva</h2>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name">Sedes</label>
                <select id="versiones" name="idVersione" class="selectpicker" data-live-search="true" onchange="obtenerSedes(@Model.IdPelicula)">
                    @foreach (var i in ListaDeVersiones)
                    {
                        <option value="@i.IdVersion">@i.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                    <label for="name">Sedes</label>
                    <select id="sedes" name="idSede" class="form-control"  onchange="obtenerFechas(@Model.IdPelicula)">

                        <option value="0"></option>

                    </select>
            </div>

            <div class="form-group">
                <label for="name">Dias</label>
                <select id="dias" name="idDias" class="form-control" onchange="obtenerHoras(@Model.IdPelicula)">

                    <option value="0"></option>

                </select>
            </div>

            <div class="form-group">
                <label for="name">Horarios</label>
                <select id="horarios" name="idHorario" class="form-control">

                    <option value="0"></option>

                </select>
            </div>

            <div class="form-group">
                <select id="idTipoDNI" name="idTipoDocumento" class="form-control">
                    @foreach (var i in Documentos)
                    {
                    <option value="@i.IdTipoDocumento">@i.Descripcion</option>
                    }
                </select>
                 <input id="idDocumento" type="text" class="form-control" name="NumeroDocumento" value="" />
            </div>

            <div class="form-group">
                 <label for="name">Correo</label>
                 <input id="idCorreo" type="text" class="form-control" name="Email" value="" />
            </div>

            <div class="form-group">
                <label for="name">Entradas</label>
                <select id="idEntradas" name="CantidadEntradas" class="form-control">
                    @for (int i=1;i<=MaximoEntradas;i++)
                    {
                    <option value="@i">@i</option>
                    }
                </select>
            </div>

        </div>




</body>

    </html>
