@model _20171C_TP.DTO.PreReservaDTO
@{
    int MaximoEntradas = 8;
    List<_20171C_TP.Models.TiposDocumento> Documentos = ViewBag.TipoDocumentos;
    Layout = null;
}

<html>
    <head>

        @{
         Html.RenderPartial("../_Head");
         Html.RenderPartial("../_HeadReservas");
        }





    </head>

    <body style="background-color:black;">

    <div>
        @{
            Html.RenderPartial("../_Navegador");
        }
    </div> 
        

                            <input type="hidden" name="idPelicula" value="@Model.IdPelicula" />
                        <nav class="navbar navbar-default" role="navigation">
                            <!-- El logotipo y el icono que despliega el menú se agrupan
                 para mostrarlos mejor en los dispositivos móviles -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Desplegar navegación</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Opciones</a>
                            </div>

   
                        </nav>



                        <div id="container">
                         
                                    <input type="hidden" id="imagenPelicula" value="@Model.pelicula.Imagen" />
                            <br /><br />
                            <h1 class="texto">Pelicula: @Model.pelicula.Nombre</h1>
                            <br />
                            <h1 class="texto">Idioma: @Model.version.Nombre</h1>
                            <br />
                            <h1 class="texto">Sede: @Model.sede.Nombre</h1>
                            <br />
                            <h1 class="texto">Direccion: @Model.sede.Direccion</h1>
                            <br />
                            <h1 class="texto">Fecha: @Model.FechaDate.ToLongDateString()</h1>
                            <br />
                            <h1 class="texto">Hora: @Model.FechaDate.ToShortTimeString()</h1>

   
                               

                        </div>

                        <div id="description">

     
         

                           <p class="texto">Sus datos:</p>  <div class="panel panel-default">
                                                <div id="desc" class="panel-body">
                                 <form action="~/Peliculas/ConfirmarReserva" method="post">
        <input type="hidden" value="@Model.IdPelicula" name="idPelicula" />
        <input type="hidden" value="@Model.IdVersion" name="idVersion" />
        <input type="hidden" value="@Model.IdSede" name="idSede" />
        <input type="hidden" value="@Model.HoraInt" name="HoraInt" />
        <input type="hidden" value="@Model.FechaDate" name="FechaDate" />
        <input type="hidden" value="@Model.FechaString" name="FechaString" />



        
       
                        <input type="hidden" name="idTipoDocumento" value="@Model.idTipoDocumento" />


                        <div class="form-group">
                        <label for="name">Numero de Documento: </label>
                        <input id="idDocumento" type="text" class="form-control" name="NumeroDocumento" value="@Model.NumeroDocumento" readonly="readonly" />
                         </div>
  
                        <div class="form-group">
                        <label for="name">Correo: </label>
                        <input id="idDocumento" type="text" class="form-control" name="Correo" value="@Model.Correo" readonly="readonly" />
                         </div>

                        <div class="form-group">
                        <label for="name">Entradas: </label>
                        <input id="idDocumento" type="text" class="form-control" name="Entradas" value="@Model.Entradas" readonly="readonly" />
                         </div>      
            
            <input type="submit" class="btn btn-info" value="Confirmar reserva" id="submit" />
        </form>
                                                </div>
                                            </div>
                                

                             

                        </div>




</body>

    </html>