@model _20171C_TP.Models.Pelicula
@{
    List<_20171C_TP.Models.Versione> ListaDeVersiones = ViewBag.ListaDeVersiones;
}

<html>
    <head>
        <title>Pelicula @Model.Nombre</title>
            <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/_AdministracionLayout.css" rel="stylesheet" />
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/_AdministracionLayout.js"></script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    </head>

    <body>


                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#idVersione").change(function () {
                            fillCombo("idSede", $("idVersione").val());
                        });
                    });

        </script>
        
        
        <script type="text/javascript">
            function fillCombo(updateId, value) {
                $.getJSON("@Url.Action("~/Peliculas/Reserva/ObtenerSedesPorVersion")"
                    + "/" + value + "/" @Model.IdPelicula,
                    function (data) {
                        $("#" + updateId).empty();
                        $.each(data, function (i, item) {
                            $("#" + updateId).append("<option id='"
                               + item.IdSede + "'>" + item.Nombre
                               + "</option>");
                        });
                    });
            }
        </script>

<h2>Reserva</h2>

                      <select name="idVersione" class="selectpicker" data-live-search="true">
                            @foreach (var i in ListaDeVersiones)
                            {
                                <option value="@i.IdVersion">@i.Nombre</option>
                            }
                        </select>

                      <select name="idSede" class="selectpicker" data-live-search="true">

                                <option value="0">asd</option>
     
                        </select>
    </body>

    </html>
