@model _20171C_TP.DTO.PreReservaDTO
@{
    int MaximoEntradas = 8;
    List<_20171C_TP.Models.TiposDocumento> Documentos = ViewBag.TipoDocumentos;
    Layout = null;
}

<html>
    <head>

        @{
         Html.RenderPartial("../_Head");
         Html.RenderPartial("../_HeadReservas");
        }





    </head>

    <body style="background-color:black;">

    <div>
        @{
            Html.RenderPartial("../_Navegador");
        }
    </div> 
        

                            <input type="hidden" name="idPelicula" value="@Model.IdPelicula" />
                        <nav class="navbar navbar-default" role="navigation">
                            <!-- El logotipo y el icono que despliega el menú se agrupan
                 para mostrarlos mejor en los dispositivos móviles -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Desplegar navegación</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Opciones</a>
                            </div>

   
                        </nav>



                        <div id="container">
                         
                                    <input type="hidden" id="imagenPelicula" value="@Model.pelicula.Imagen" />
                            <br /><br />
                            <h1 class="texto">Pelicula: @Model.pelicula.Nombre</h1>
                            <br />
                            <h1 class="texto">Idioma: @Model.version.Nombre</h1>
                            <br />
                            <h1 class="texto">Sede: @Model.sede.Nombre</h1>
                            <br />
                            <h1 class="texto">Direccion: @Model.sede.Direccion</h1>
                            <br />
                            <h1 class="texto">Fecha: @Model.FechaDate.ToLongDateString()</h1>
                            <br />
                            <h1 class="texto">Hora: @Model.FechaDate.ToShortTimeString()</h1>

   
                               

                        </div>

                        <div id="description">

     
         

                           <p class="texto">Sus datos:</p>  <div class="panel panel-default">
                                                <div id="desc" class="panel-body">
                                 <form action="~/Peliculas/ReservaPreConfirmacion" method="post">
        <input type="hidden" value="@Model.IdPelicula" name="idPelicula" />
        <input type="hidden" value="@Model.IdVersion" name="idVersion" />
        <input type="hidden" value="@Model.IdSede" name="idSede" />
        <input type="hidden" value="@Model.HoraInt" name="HoraInt" />
      <input type="hidden" value="@Model.FechaString" name="FechaString" />
 



                        <div class="form-group">
                <select id="idTipoDNI" name="idTipoDocumento" class="form-control">
                    @foreach (var i in Documentos)
                    {
                    <option value="@i.IdTipoDocumento">@i.Descripcion</option>
                    }
                </select>
                 <input id="idDocumento" type="text" class="form-control" name="NumeroDocumento" value="" />
            </div>

            <div class="form-group">
                 <label for="name">Correo</label>
                 <input id="idCorreo" type="text" class="form-control" name="Correo" value="" />
            </div>

            <div class="form-group">
                <label for="name">Entradas</label>
                <select id="idEntradas" name="Entradas" class="form-control">
                    @for (int i=1;i<=MaximoEntradas;i++)
                    {
                    <option value="@i">@i</option>
                    }
                </select>
            </div>
            
            <input type="submit" class="btn btn-info" value="Reservar" id="submit" />
        </form>
                                                </div>
                                            </div>
                                

                             

                        </div>




</body>

    </html>